/* You can add global styles to this file, and also import other style files */

@import '~highlight.js/styles/xcode.css';
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: gitbook-code-font, Menlo, monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ngstr-link {
  text-decoration: none;
  color: rgb(20, 81, 179);
  background-color: rgb(245, 247, 249);
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
  font-weight: normal;
}

.ngstr-link-hash {
  cursor: pointer;
  margin-left: 0.5rem;
  text-decoration: none;
  color: var(--tw-prose-headings);
}

.ngstr-highlight {
  font-family: gitbook-code-font, Menlo, monospace;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  color: rgb(59, 69, 78);
  background-color: rgb(245, 247, 249);
}

ngstr-code pre.ngstr-code {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

ngstr-code pre code.hljs {
  opacity: 0.85;
  background: #f5f8fc !important;
  font-size: 0.813rem;
  border-radius: 0.625em;
}

.toast-ngx-stripe {
  background-color: #635bffdf;
}
